@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistem Pengelolaan Nilai Siswa</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Selamat Datang di Sistem Pengelolaan Nilai</h2>
        <p>
             Sistem Pengelolaan Nilai Siswa merupakan aplikasi untuk mengelola data siswa, data guru,
             data mata pelajaran dan data nilai siswa
        </p>
    </div>
    
</div>